@page
@model IndexModel

<div class="main-container">
    <p style="font-weight:bold">Test 3DS</p>
    <hr />
    <p>Verify payment (id: @Model.Input.TransactionId)</p>
    <p>Payment amount: @Model.Input.Info</p>
    <div style="text-align: center;">
        <button id="accept-btn" class="btn btn-info" data-id="@Model.Input.ExternalId" data-okurl="@Model.Input.OkUrl">Accept</button>
        <button id="reject-btn" class="btn btn-info" data-id="@Model.Input.ExternalId" data-failurl="@Model.Input.FailUrl">Reject</button>
    </div>
</div>